*{
    margin: 0; 
    padding: 0;
    background-color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a86833;
}

.box{
    width: 500px;
    height: 500px;
    border: 5px solid black;
    
}

h1 {
    display: flex;
    justify-content: center;

}