@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
    margin: 0;
    font-family: "Croissant One", "serif" f;
    ;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;

}

.menu .linha {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}

.icon {
    font-size: 15px;
    padding: 0 0 -4 15px;
}


.logo {
    width: 10%;
    padding: 5px;
}

body {
    background-color: #0e0c0c;

}



/*Animação do banner principal*/
@keyframes moveBackground {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 100% center;
    }
}

.home {

    background: linear-gradient(rgba(44, 40, 40, 0.3), rgba(48, 42, 42, 0.5)), url(../img/rodapé\ cachorro.png);
    background-size: cover;
    background-position: 0% center;
    height: 100%;
    padding: 0 0 1px 0;
    animation: moveBackground 40s linear infinite;
    /* Aplica a animação */

}

/* Função de esconde os botões do rai-x e internação  */
.dropdown-content a {
    padding: 8px 12px;
    /* Adiciona espaçamento interno aos botões */
    text-decoration: none;
    display: block;
}

.dropdown-content a:not(:last-child) {
    margin-bottom: 8px;
    /* Adiciona espaçamento entre os botões */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hidden {
    display: none;
}
.menu .menu-perfil{
    width: 100vw;
}

.menu ul .menu {
    list-style: none;
    display: flex;
    gap: 5px;
    display: inline-block;
}

.menu li {
    display: inline-block;
}

.menu li a {
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    text-decoration: none;
    font-family: "Croissant One", "serif";
    transition: 0.5s;

}

.menu .selecionado,
.menu li a:hover {
    padding: 8px 50px;
    background-color: whitesmoke;
    color: black;
    border: 1px solid blue;
    transition: 1s;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 30px;
    width: 100%;
    font-size: 15px;

}

/*Animação no h1*/
@keyframes rotate3D {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    75% {
        transform: rotateX(180deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(0deg) rotateY(0deg);
    }
}

.home main {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    
}

body main .home main h1 {
    margin: auto 0;
    font-family: "Croissant One", "serif";
    font-size: 150px;
    color: #FF9239;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate3D 10s infinite;
    transform-style: preserve-3d;
    background: linear-gradient(45deg, #ff9239, #ff3d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #ff9239, 3px 3px 0 #ff9239, 4px 4px 0 #ff9239, 5px 5px 0 #ff9239;
}

/* Estilo para o rodapé */
/*Animação do banner rodapé*/
@keyframes moveBackgroundRight {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 100% center;
    }
}

footer {
    background-image: linear-gradient(rgba(44, 40, 40, 0.5), rgba(48, 42, 42, 0.5)), url(../img/5.png);
    background-color: #FF9239;
    background-size: auto 100%;
    /* Ajusta a altura para 100% e a largura automaticamente */
    background-position: 0% center;
    /* Posiciona a imagem no lado esquerdo central do elemento */
    background-repeat: repeat;
    /* Permite a repetição da imagem */
    padding: 0 0 55px 0;
    animation: moveBackgroundRight 100s linear infinite;
    /* Aplica a animação */
}



footer .rodape {
    display: flex;
    justify-content: space-evenly;
    /* Distribui os elementos uniformemente */
    align-items: center;
}
