@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
* {
    margin: 0;
    font-family: "Croissant One","serif"f;;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
        
}
/* *{ 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
} */

.menu .linha{
    background-color:rgba(255, 255, 255, 0.5);
}
.icon{
    font-size: 15px;
    padding: 0 0 -4 15px;
}


.logo{
    width: 10%;
    padding: 5px;
}
body{
    background-color: #FF9239
}
.home{
    background:linear-gradient(rgba(44,40,40,0.3), rgba(48,42,42,0.5)),url(../img/rodapé\ cachorro.png);
    background-size:cover;
    background-position: center;
    height: 100%;
}

.container {
    background-color:rgba(255, 255, 255, 0.5);
    background-color: #FF9239;
    background-size: cover;
    background-position: center;
    text-align: center; /* Centralizar o texto */
    font-family: "Croissant One","serif";
    padding: 50px; /* Adicionar padding para espaçamento */
}

.menu-perfil ul .menu {
    list-style: none;
    display: flex;
    gap: 5px;
    display: inline-block;
}

.menu-perfil li {
    display: inline-block;
}

.menu-perfil li a {
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);;
    color: whitesmoke;
    text-decoration: none;
    font-family: "Croissant One","serif";

}

.menu-perfil .selecionado,
.menu-perfil li a:hover 
{
    background-color: whitesmoke;
    color: black;
    border: 1px solid blue;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 30px;
    width: 100%;
    font-size: 15px;
    
}


#footer {
    background-image:linear-gradient(rgba(44,40,40,0.3), rgba(48,42,42,0.5)),url(../img/rodapé\ cachorro.png);
    background-size:cover;
    background-position: center;
    height: 100%;
    max-height: 200vh;
}


body main .home main h1{
    font-family: "Croissant One","serif";
    font-size: 150px;
    color:#FF9239;
    display: flex;
    justify-content: center;

}

#produtos {
    /* background-color: gray; */
    height: 100vh;
}
#produtos .titulo{
    display:flex;
    justify-content: center;
    font-family:"Croissant One","serif";
    font-weight:bold;
    font-size: 50px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform:uppercase;
}

.foto-produto{
    width: 100%;
    max-width: 280px;
    height: 380px;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;
}
#produtos figure{
    background-color: #d9d9d9;
    text-align: center;
    padding: 10px 20px 0px 10px;
    border-radius: 20px;
    width: 105% ;
    max-width: 100vw;
}

#produtos figure figcaption{
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100px;
}

#produtos figure figcaption h4{
    font-size: auto;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
}
#produtos figure figcaption span.avaliacao{
    color: #d48c00;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: end;
  
}


/* Estilo para o rodapé */
#footer {
    background: linear-gradient(rgba(44, 40, 40, 0.3), rgba(48, 42, 42, 0.5)), url(../img/rodapé\ cachorro.png);
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-top: 250px;
}

.rodape {
    display: flex;
    justify-content: space-around; /* Distribui os elementos uniformemente */
    align-items: center;
}

.logo-rodape {
    width: 100px;
    margin: -55px;
}

.informacoes {
    color: white;
    text-align: justify;
}
.informacoes .visita{
    color:black;
    font-size: 25px;
    font-family: "Croissant One","serif";
}
.redes-sociais {
    list-style: none;
    margin: 3px;
    padding: 2px;
    display: flex; 
}
.redes-sociais p{
    color: white;
}
.redes-sociais li {
    margin: 50px;
    margin-left: 10px; /* Adiciona um espaçamento entre os ícones das redes sociais */
    margin-right: 10px;
}


.redes-sociais li a {
    color: white;
    text-decoration: none;
}



