body { 
    display: flex;
    background-color: #9c6131;  
    font-family: "Croissant One", "serif";
    justify-content: left;
    align-items: left;
    padding: 0.20px;
    border: none;
    margin: 0;
    background-size:contain; 
    background-position: left;  
    background-repeat: no-repeat;
  
}

#esquerda {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    max-width: 600px;
}

#direita {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    max-width: 500px;
}

.container {
    background-color: rgba(3, 3, 3, 0.7); 
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10); 
    width: 100%; 
    max-width: 26vw;
    margin: 10px auto; 
    text-align: center; 
    color: white;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group label {
    flex: 1; /* Ocupa todo o espaço disponível */
    margin-bottom: 5px;
    color: rgb(252, 248, 248); 
    text-align: start; 
}

.input-group input {
    flex: 1; /* Ocupa todo o espaço disponível */
    width: auto; 
    padding: 5px 0 2px 0;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 10px !important;
    padding-right: 40px; /* Espaço para o botão */
}


.input-group button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}


.button {
    display: inline-flex;
    padding: 10px 20px; 
    margin-right: 10px; 
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}


#mostrarSenha {
    padding-top: 20px;
}
#mostrarConfirmSenha {
    padding-top: 20px;
}

#mostrarSenha::before,
#mostrarConfirmSenha::before {
    content: "\1F441"; 
    
}


#mostrarSenha.oculto::before,
#mostrarConfirmSenha.oculto::before {
    content: "\1F440"; 
   
}


.login-box form a {
    font-family: "Croissant One", "serif";
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #FF9239;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FF9239,
                0 0 25px #FF9239,
                0 0 50px #FF9239,
                0 0 100px #FF9239;
  }
  
  .login-box span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FF9239);
    animation: btn-anim1 2s linear infinite;
  }