body { /*Alterar o tamanho dos imput*/
    display: flex;
    background-color: #FF9239;  
    font-family: "Croissant One", "serif";
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0.20px;
    border: none;
    margin: 0;
    background-image: url(../img/cachorros/6.png);
    background-size:contain; 
    background-position: left center;  
    background-repeat: no-repeat;
    height: 100vh;
}

.imagem-direita {
    position: fixed;
    top: 50%; 
    right: -20px;
    transform: translateY(-50%); 
    width: 500px; 
} 


.container {
    background-color: rgba(3, 3, 3, 0.7); 
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10); 
    width: 26vw; 
    margin: auto; 
    text-align: center; 
    color: white;
}



.input-group {
    position: relative;
    margin-bottom: 10px;
    
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(252, 248, 248); 
    text-align: end; 
    
}

.input-group input {
    display: inline;
    width: 100%; 
    padding: 5px 0 2px 0;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 10px !important;
    padding-right: 40px; /* Espaço para o botão */
}


.forgot-password{
    color: #007bff;
    margin-left: 100px;
}

.forgot-password:hover{
    color: #0056b3;
    margin-left: 100px;
    color: #fff;

}

.input-group button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

.botaoVoltar {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 10px 20px;  
    margin: 10px; 
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 700px;
}
.botaoVoltar:hover {
    background-color: #f9f9fa;
    color: #000; 
}


.button {
    display: inline-flex;
    padding: 10px 20px; 
    margin-right: 10px; 
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.button.cadastrar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #007bff; 
    color: #fff; 
    border: 1px solid #000; 
}

.button:hover {
    background-color: #f9f9fa;
    color: #000; 
}


#mostrarSenha {
    padding-top: 20px;
}

#mostrarSenha::before,
#mostrarConfirmSenha::before {
    content: "\1F441"; 
    
}


#mostrarSenha.oculto::before,
#mostrarConfirmSenha.oculto::before {
    content: "\1F440"; 
   
}
