*{
    margin: 0;
}

body {
    display: flex;
    background-color: #9c6131;
    font-family: "Croissant One", "serif";
    justify-content: center;
    align-items: center;
    padding: 0.20px;
    border: none;
    margin: 5px;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;

}

.imagem-esquerda {
    position: fixed;
    top: 65%;
    left: -6%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 600px;
}

.imagem-direita {
    position: fixed;
    top: 55%;
    right: -5%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 750px;
}


.container {
    display: block;
    background-color: rgba(3, 3, 3, 0.7);
    padding: 40px;
    height: 80%;
    max-height: 300vh;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    width: 100%;
    max-width: 42vw;
    margin: 50px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#opcoes-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000; 
}


.bnt_oculto {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
}

#oculto p {
    margin: 0;
    padding: 10px;
    background-color: #643d1e;
}

#oculto p a {
    display: flex;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.bnt_oculto {
    display: none;
}

#baixo {
    background-color:#643d1e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}

#baixo:hover {
    background-color: #000;
    color: #fff;
}

#oculto a:hover{
    background-color: #000;
    color: #fff;
}

.foto-usuario {
    position: absolute; 
    top: 30%; 
    right: 35%; 
    width: 150px; 
    height: 150px; 
    border-radius: 80%; 
    overflow: hidden; 
    background-color: #020202;
}

.foto-usuario img {
    width: 100%; 
    height: 100%; 
   
    object-fit: cover; /* Para manter a proporção da imagem e cortá-la conforme necessário */
}

#img-usuario{
    position: absolute; 

}

.dropdown-foto {
    display: none;
    position: absolute;
    top: 15%; 
    left: 0;
    z-index: 1;
    background-color: #020202;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 5px;
}

.dropdown-foto.show {
    display: block;
}