@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
* {
    margin: 0;
    font-family: "Croissant One","serif"f;;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.box {
    
    background-color: #9c6131;
    background-size: cover;
    background-position: center;
    text-align: center; 
    font-family: "Croissant One","serif";
    padding: 50px; 
    
}



header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 30px;
    width: 100%;
    font-size: 15px;
    
}

#produtos .titulo{
    display:flex;
    justify-content: center;
    font-family:"Croissant One","serif";
    font-weight:bold;
    font-size: 50px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform:uppercase;
}

.foto-produto{
    width: 100%;
    max-width: 280px;
    height: 380px;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;
}

#produtos main {
    width: 100%;
    margin: 0 auto;
}

#produtos figure figcaption h4{
    font-size: auto;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
}
#produtos figure figcaption span.avaliacao{
    color: #d48c00;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: end;
  
}
