@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
    margin: 0;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.box {
    display: flex;
    background-color: #9c6131;
    background-size: cover;
    background-position: center;
    justify-content: start;
    text-align: start;
    font-family: "Croissant One", "serif";
    padding: 50px;
    width: 100%;
    height: 100%;

}

#box {
    display: flex;
    background-color: #9c6131;
    background-size: cover;
    background-position: center;
    justify-content: center;
    text-align: center;
    font-family: "Croissant One", "serif";
    width: 100%;
    height: 100%;

}

.form-label {
    pointer-events: none;
    transition: .5s;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: rgb(44, 44, 44);
    font-size: 20px;
    letter-spacing: 2px;
}


header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 30px;
    width: 100%;
    font-size: 15px;

}

#fotos {
    margin-top: 20px;
    padding: 20px;

}

.row {
    justify-content: center;
}

.col-lg-4,
.col-md-2,
.col-sm-12 {
    flex: 0 0 23%;
    max-width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    transition: transform 0.3s ease;
    position: relative;
    margin: 0 auto;
    /* Adicionando margem automática para centralizar */
}

.foto-produto {
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {

    .col-lg-4,
    .col-md-2,
    .col-sm-12 {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media (max-width: 576px) {

    .col-lg-4,
    .col-md-2,
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.col-lg-3,
.col-md-6,
.col-sm-12 {
    flex: 0 0 23%;
    max-width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    transition: transform 0.3s ease;
    margin: 0 auto;
    /* Centraliza horizontalmente */
}

.foto-produto {
    display: block;
    height: 270px;
    width: 32vh;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease, z-index 0.3s ease;
    margin-bottom: 10px;
}

.col-lg-3:not(:last-child),
.col-md-6:not(:last-child),
.col-sm-12:not(:last-child) {
    margin-right: 20px;
}

figure:hover .foto-produto {
    transform: scale(1.1);
    z-index: 10;

}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #000000;
    padding: 5px;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: start;
    height: 100%;
    z-index: 1;
}

figcaption h4 {
    margin: 0;
    font-size: 26px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}