@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
* {
    margin: 0;
    font-family: "Croissant One","serif"f;;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.box {
    display: flex;
    background-color: #9c6131;
    background-size: cover;
    background-position: center;
    justify-content: start;
    text-align: start; 
    font-family: "Croissant One","serif";
    padding: 50px; 
    
}

.form-label {
    display: flex;
    justify-content: start;
    align-items: start;
}


header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly; /*remover essa linha caso opte para adicionar o novo menu*/
    padding: 30px 30px;
    width: 100%;
    font-size: 15px;
    
}
#fotos {
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-lg-3, .col-md-6, .col-sm-12 {
    flex: 0 0 23%;
    max-width: 23%;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    position: relative;
}

figure {
    position: relative;
    margin: 0;
}

.foto-produto {
    width: 20vh;
    height: 24vh;
    border-radius: 20px;
    object-fit: cover;
    object-position: start;
    transition: transform 0.3s ease, z-index 0.3s ease;
    position: relative;
    z-index: 1;
}

figure:hover .foto-produto {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 52vh;
    width: 42vh;

}

figcaption {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 0 0 20px 20px;
}

figcaption h4 {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 768px) {
    .col-lg-3, .col-md-6, .col-sm-12 {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media (max-width: 576px) {
    .col-lg-3, .col-md-6, .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
