*{
    margin: 0;
}

body {
    
    display: flex;
    background-color: #FF9239;
    font-family: "Croissant One", "serif";
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    border: none;
    margin: 20px;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    height: 100vh;
}


.imagem-esquerda {
    position: fixed;
    top: 50%; 
    left: 0;
    transform: translateY(-50%);
    width: 500px;
}

.imagem-direita {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 500px;

}


.container {
    background-color: rgba(3, 3, 3, 0.7);
    padding: 60px ;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    width: 29vw;
    margin: auto;
    text-align: center;
    color: white;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    border-radius: 30px;
}

input[type = 'submit']{
    margin-bottom: 0;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(252, 248, 248);
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 5px 0 2px 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px !important;
    padding-right: 40px;
    
}

.forgot-password {
    color: #0056b3;
    margin-left: 160px;
}

.forgot-password:hover {
    color: #0056b3;
    margin-left: 160px;
    color: #fff;

}

.input-group button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.button.cadastrar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #000;
}

.button:hover {
    background-color: #f9f9fa;
    color: #000;

}

#mostrarSenha {
    padding-top: 20px;
}

#mostrarConfirmSenha {
    padding-top: 20px;
}


#mostrarSenha::before,
#mostrarConfirmSenha::before {
    content: "\1F441";

}


#mostrarSenha.oculto::before,
#mostrarConfirmSenha.oculto::before {
    content: "\1F440";
    
}

/* Estilo para o grupo .dados */

.dados {
    margin-bottom: 20px;
}

.dados label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* Cor do texto das labels */
    text-align: left;
}

.dados input,
.dados select {
    width: 2px; /* Largura total */
    padding: 2px 1px 2px 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; 
    color: #333; 
}

.dados input[type="date"],
.dados input[type="time"],
.dados select {
    width: 120px; 
}

@media (min-width: 768px) {
    .container {
        max-width: 600px; 
    }

    .dados input,
    .dados select {
        width: calc(100% - 16px); 
    }
}
