*{
    margin: 0;
}

body {
    background-color: #9c6131;

}


.imagem-esquerda {
    position: fixed;
    top: 60%; 
    left: -20px;
    transform: translateY(-50%);
    width: 500px;
}

.imagem-direita {
    position: fixed;
    top: 59%;
    right: -15px;
    transform: translateY(-50%);
    width: 500px;

}


.container {
    background-color: rgba(3, 3, 3, 0.7);   
    padding: 60px ;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    width: 32%;
    margin: 20px auto;
    text-align: center;
    color: white;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    border-radius: 30px;
}

input[type = 'submit']{
    margin-bottom: 0;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(252, 248, 248);
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 5px 0 2px 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px !important;
    padding-right: 40px;
    
}


.input-group button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
 
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.button.cadastrar {
    font-family: Arial, Helvetica, sans-serif;  
    color: #fff;
    border: 1px solid #000;
}

.button:hover {
    background-color: #f9f9fa;
    color: #000;

}

#mostrarSenha {
    padding-top: 20px;
}

#mostrarConfirmSenha {
    padding-top: 20px;
}


#mostrarSenha::before,
#mostrarConfirmSenha::before {
    content: "\1F441";

}


#mostrarSenha.oculto::before,
#mostrarConfirmSenha.oculto::before {
    content: "\1F440";
    
}

/* Estilo para o grupo .dados */

.dados {
    margin-bottom: 20px;
}

.dados label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* Cor do texto das labels */
    text-align: left;
}

.dados input,
.dados select {
    width: 2px; /* Largura total */
    padding: 2px 1px 2px 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; 
    color: #333; 
}

.dados input[type="date"],
.dados input[type="time"],
.dados select {
    width: 120px; 
}

@media (min-width: 768px) {
    .container {
        max-width: 600px; 
    }

    .dados input,
    .dados select {
        width: calc(100% - 16px); 
    }
}


.login-box form a {
    font-family: "Croissant One", "serif";
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #007bff,
                0 0 25px #007bff,
                0 0 50px #007bff,
                0 0 100px #007bff;
  }
  
  .login-box span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #007bff);
    animation: btn-anim1 2s linear infinite;
  }