
body {
    background-color: #f0f0f0; /* Define a cor de fundo da página */
    font-family: Arial, sans-serif; /* Define a fonte para o texto */
    color: #555; /* Define a cor do texto padrão */
}

.container {
    background-color: #fff; /* Define a cor de fundo do container do formulário como branco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave ao redor do container */
    width: 300px; /* Define a largura da caixa de login/cadastro */
    margin: 0 auto; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o conteúdo dentro da caixa */
}

.input-group {
    margin-bottom: 10px; /* Espaçamento entre os campos de entrada */
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555; /* Define a cor do texto das labels  */
    text-align: left; /* Alinha o texto do rótulo à esquerda */
}

.input-group input {
    width: 90%; /* Preenche a largura do contêiner */
    padding: 10px;
    margin-bottom: 10px; /* Ajusta o espaçamento inferior */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px; /* Aumenta o tamanho do botão */
    margin-right: 10px; /* Espaçamento entre os botões */
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button.cadastrar {
    background-color: #007bff; /* Mantém a mesma cor de fundo */
    color: #fff; /* Mantém a mesma cor de texto */
    border: 1px solid #000; /* Adiciona uma borda preta */
}

.button:hover {
    background-color: #0056b3;
}
